@using Dominio;
@{
    ViewData["Title"] = "ListarPublicaciones";
}

<h1 class="text-center">Publicaciones</h1>

<br />
<br />

<form class="row row-cols-lg-auto g-3 align-items-center" method="get" action="/publicaciones/BuscarPorPublicacion">
    <div class="col-12">
        <input class="form-control" type="text" placeholder="Ingrese tipo de publicacion" name="publicacion" />
    </div>

    <div class="col-12">
        <input class="btn btn-success" type="submit" value="Buscar" />
    </div>

    <div class="col-12">
        <a href="/publicaciones/listarpublicaciones" class="btn btn-secundary">Reiniciar</a>
    </div>
</form>

<br />
@if (ViewBag.ListadoPublicaciones == null || ViewBag.ListadoPublicaciones.Count == 0)
{
    <div class="alert alert-danger"><p>Ese tipo de publicación no exite en el sistema</p></div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo Publicacion</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Publicacion p in ViewBag.ListadoPublicaciones)
            {               
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nombre</td>
                    <td>@p.GetType().Name</td> 
                    <td>@p.Estado</td>
                    <td>@p.CalcularPrecio()</td>
                </tr>
            }
        </tbody>
    </table>
}